.img-carrocel {
	max-width: 100%;
	min-width:  100%;
	max-height: 300px;
	min-height: 300px;
}

.container-egteduc{
	max-width: 960px;
	margin: 0 auto;
}

.span12{
	max-width:100%;
}

.gteducpadding{
	padding-right: 0px; 
	padding-left: 0px;
}

.meio{
	font-size: 12px;
}