<div class="container-fluid container-egteduc">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand">GTEDUC</a>
                <div class="nav-collapse collapse ">
                    <ul class="nav">
                        <li>
                            <a href="{% url gteducsite.views.index %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.empresa %}">A Empresa</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.produtoservicos %}">Produtos e Serviços</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.suporte %}">Suporte</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.clientes %}">Clientes</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.parceiros %}">Parceiros</a>
                        </li>
                        <li>
                            <a href="{% url gteducsite.views.contatos %}">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<ul class="breadcrumb">
            <li><a href="">Inicio</a> <span class="divider">/</span></li>
            <li><a href="#">Biblioteca</a> <span class="divider">/</span></li>
            <li class="active">Dados</li>
        </ul> -->    
    </div>
</div>