<div class="container-fluid container-egteduc">
    <div id="myCarousel" class="carousel slide ">
      <!-- Itens de carousel -->
        <div class="carousel-inner ">
            <div class="active item">
                <img class="img-carrocel container-carousel" src="http://www.gteduc.com.br/img/slide-1.jpg" />
                <div class="carousel-caption">
                    <h4>EAD</h4>
                    <p>Educação a Distancia</p>
                </div>
            </div>
            <div class="item">
                <img class="img-carrocel container-carousel" src="http://www.gteduc.com.br/img/slide-3.png"></img>
                <div class="carousel-caption">
                    <h4>Moodle</h4>
                    <p>Ambiente de Apredizagem que mais cresce na Web.</p>
                </div>
            </div>
            <div class="item"> 
                <img class="img-carrocel container-carousel" src="http://www.gteduc.com.br/img/slide-4.jpg"></img>
                <div class="carousel-caption">
                    <h4>GTEDUC</h4>
                    <p>Empresa que torna todos os seus sonhos possiveis.</p>
                </div>
            </div>
        </div>
        <!-- Navegador do carousel -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>