<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>GTEDUC</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "gteducsite/img/favicon.ico"%}" type="image/x-icon">
        <link rel="stylesheet" href="{% static "gteducsite/css/index.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "gteducsite/css/styles.css" %}" type="text/css">
    </head>
    <body>
        <div id='site'>
            <div id='topo'>
                <div class='gr-container'>
                    <div class='logo'>
                        <img src="http://www.gteduc.com.br/img/logo.png"></img>
                    </div>
                    <div class='menu-container'>    
                        <div id='cssmenu'>
                            <ul>
                                <li><a href="{% url gteducsite.views.index %}"><span>Home</span></a></li>
                                <li><a href="{% url gteducsite.views.empresa %}"><span>A Empresa</span></a></li>
                                <li><a href="{% url gteducsite.views.produtoservicos %}"><span>Produtos e Serviços</span></a></li>
                                <li><a href="{% url gteducsite.views.suporte %}"><span>Suporte</span></a></li>
                                <li><a href="{% url gteducsite.views.clientes %}"><span>Clientes</span></a></li>
                                <li class='has-sub active '><a href="{% url gteducsite.views.parceiros %}"><span>Parceiros</span></a>
                                    <ul>
                                        <li><a href='#'><span>Product 1</span></a></li>
                                        <li><a href='#'><span>Product 2</span></a></li>
                                    </ul>
                                </li>
                                <li class='has-sub'><a href="{% url gteducsite.views.contatos %}"><span>Contato</span></a>
                                     <ul>
                                        <li><a href='#'><span>Product 1</span></a></li>
                                        <li><a href='#'><span>Product 2</span></a></li>
                                    </ul>
                                </li>
                                <!--
                                <li class='has-sub '><a href='#'><span>Products</span></a>
                                    <ul>
                                        <li><a href='#'><span>Product 1</span></a></li>
                                        <li><a href='#'><span>Product 2</span></a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='gr-container'>
                    <div class='slide-container'>
                        
                    </div>
                </div>
            </div>
        <div id='content'>
            <div class='gr-container'>
                
            </div>
        </div>
        <div id='footer'>
            <div class='gr-container'>
               
            </div>
        </div>
    </body>
</html>

