<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>GTEDUC</title>
        <link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/media/css/index.css" type="text/css">
        <link rel="stylesheet" href="/media/css/styles.css" type="text/css">
    </head>
    <body>
        <div id='tudo'>
            <div id='top'>
                <div id='cssmenu'>
                    <ul>
                        <li class='active '><a href='index.html'><span>Home</span></a></li>
                        <li class='has-sub '><a href='#'><span>Products</span></a>
                            <ul>
                                <li><a href='#'><span>Product 1</span></a></li>
                                <li><a href='#'><span>Product 2</span></a></li>
                            </ul>
                        </li>
                        <li><a href='#'><span>About</span></a></li>
                        <li><a href='#'><span>Contact</span></a></li>
                    </ul>
                </div>
            </div>
            <div id='content'>
                <h1> Isso é outro teste </h1>
            </div>
            <div id='footer'>
                <h1> Isso é mais outro teste </h1>
            </div>
        </div>
    </body>
</html>

